@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}

@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
  @import "search";
}

@layer utilities {
  @import "utilities";
}


.proudct-title{
  width: 50%;
}

.w-80{
  width: 20rem;
}

@media only screen and (max-width: 600px) {
  .concontainer{
    flex-direction: column;
  }
  img{
    max-width: 400px;
  }

  .proudct-title{
    width: 80%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
